@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


:root {
    --orange: --#e84610;
    --light-orange: #e67e22;
    --dark-grey: #525252;
    --light-grey: #676767;
    --purple: #9b59b6;
    --light-blue:#3498db;
    --off-white: #fafafa;
    --white: #fff;
    --background: #8f8f8f;
    --default-font: "Exo", sans-serif;
}

/*-----------------Colours */
.bg-color-name-title {
    background-color: var(--light-grey);
}

.ui-menu-color-home {
    background-color: var(--light-orange);
}

.ui-menu-color-resume {
    background-color: var(--purple);
}

.ui-menu-color-contact {
    background-color: var(--light-blue);
}

.ui-menu-color-download {
    background-color: var(--dark-grey);
}

.bg-color-three-reasons {
    background-color: var(--white);
}

/*-----------------Special paddings/margins/text */
h1, h2, h3, h4 {
    margin:0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: var(--off-white);   
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: var(--default-font);
    font-weight: 399;
    margin-top: 25px;
    margin-bottom: 40px;

}


/*-----------------Heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/profile-picture.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: var(--white);
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: var(--white);
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0 ;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: var(--white);
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: var(--off-white);
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
}

/*-----------------Hover.css */
.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
}

/*-----------------Footer */
footer {
    background-color: var(--dark-grey);
    color: var(--off-white);
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: var(--off-white);
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: -var(--orange);
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: var(--off-white);
    background: var(--background);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: var(--orange);
}

#footer-details {
    padding: 20px;
}